body {
  text-align: center;
}

.nav-bar {
  width: 100vw;
  margin: auto;
  text: center;
}

.workout-list {
  width: 80vw;
  margin: auto;
}

button.btn {
  color: green;
  background-color: blue;
  margin: 10px 0 10px 0;
}

span.delete {
  display: inline-block;
  float: right;
  color: red;
}
